In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelBinarizer

In [2]:
data_directory = 'Data/train.csv'
df = pd.read_csv(data_directory)

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [3]:
df = df.dropna(how='any')
df = df.reset_index(drop=True)
original_df = df

In [4]:
def one_hot_encode(data):
    lb = LabelBinarizer()
    data = lb.fit_transform(data)
    data = pd.DataFrame(data)
    data.columns = lb.classes_
    return data

In [5]:
dp = one_hot_encode(df.DepartmentDescription)
wd = one_hot_encode(df.Weekday)

In [6]:
df = df.drop(['Weekday', 'DepartmentDescription', 'Upc', 'FinelineNumber'], axis=1)

In [7]:
df[wd.columns] = wd
df[dp.columns] = dp

In [8]:
grouped_data = df.groupby("VisitNumber")
grouped_data = grouped_data.agg(
{'TripType': np.max,
'ScanCount': np.sum,
'Friday': np.max,
'Monday': np.max,
'Saturday': np.max,
'Sunday': np.max,
'Thursday': np.max,
'Tuesday': np.max,
'Wednesday': np.max,
'1-HR PHOTO': np.sum,
'ACCESSORIES': np.sum,
'AUTOMOTIVE': np.sum,
'BAKERY': np.sum,
'BATH AND SHOWER': np.sum,
'BEAUTY': np.sum,
'BEDDING': np.sum,
'BOOKS AND MAGAZINES': np.sum,
'BOYS WEAR': np.sum,
'BRAS & SHAPEWEAR': np.sum,
'CAMERAS AND SUPPLIES': np.sum,
'CANDY, TOBACCO, COOKIES': np.sum,
'CELEBRATION': np.sum,
'COMM BREAD': np.sum,
'CONCEPT STORES': np.sum,
'COOK AND DINE': np.sum,
'DAIRY': np.sum,
'DSD GROCERY': np.sum,
'ELECTRONICS': np.sum,
'FABRICS AND CRAFTS': np.sum,
'FINANCIAL SERVICES': np.sum,
'FROZEN FOODS': np.sum,
'FURNITURE': np.sum,
'GIRLS WEAR, 4-6X  AND 7-14': np.sum,
'GROCERY DRY GOODS': np.sum,
'HARDWARE': np.sum,
'HEALTH AND BEAUTY AIDS': np.sum,
'HOME DECOR': np.sum,
'HOME MANAGEMENT': np.sum,
'HORTICULTURE AND ACCESS': np.sum,
'HOUSEHOLD CHEMICALS/SUPP': np.sum,
'HOUSEHOLD PAPER GOODS': np.sum,
'IMPULSE MERCHANDISE': np.sum,
'INFANT APPAREL': np.sum,
'INFANT CONSUMABLE HARDLINES': np.sum,
'JEWELRY AND SUNGLASSES': np.sum,
'LADIES SOCKS': np.sum,
'LADIESWEAR': np.sum,
'LARGE HOUSEHOLD GOODS': np.sum,
'LAWN AND GARDEN': np.sum,
'LIQUOR,WINE,BEER': np.sum,
'MEAT - FRESH & FROZEN': np.sum,
'MEDIA AND GAMING': np.sum,
'MENS WEAR': np.sum,
'MENSWEAR': np.sum,
'OFFICE SUPPLIES': np.sum,
'OPTICAL - FRAMES': np.sum,
'OPTICAL - LENSES': np.sum,
'OTHER DEPARTMENTS': np.sum,
'PAINT AND ACCESSORIES': np.sum,
'PERSONAL CARE': np.sum,
'PETS AND SUPPLIES': np.sum,
'PHARMACY OTC': np.sum,
'PHARMACY RX': np.sum,
'PLAYERS AND ELECTRONICS': np.sum,
'PLUS AND MATERNITY': np.sum,
'PRE PACKED DELI': np.sum,
'PRODUCE': np.sum,
'SEAFOOD': np.sum,
'SEASONAL': np.sum,
'SERVICE DELI': np.sum,
'SHEER HOSIERY': np.sum,
'SHOES': np.sum,
'SLEEPWEAR/FOUNDATIONS': np.sum,
'SPORTING GOODS': np.sum,
'SWIMWEAR/OUTERWEAR': np.sum,
'TOYS': np.sum,
'WIRELESS': np.sum})

In [10]:
grouped_data.to_csv('Data/grouped_data.csv')