In [2]:
import sklearn

In [3]:
from sklearn.decomposition import PCA

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("CleanData/train.csv")

In [6]:
data.describe()

,TripType,VisitNumber,Upc,ScanCount,FinelineNumber
count,578630.000000,578630.000000,5.786300e+05,578630.000000,578630.000000
mean,58.337013,96204.176666,3.061020e+10,1.110152,3728.835062
std,156.559256,55536.405944,9.113980e+10,0.702824,2781.557445
min,3.000000,5.000000,8.340000e+02,-12.000000,0.000000
25%,27.000000,49354.000000,3.400004e+09,1.000000,1404.000000
50%,39.000000,97111.500000,7.050106e+09,1.000000,3352.000000
75%,40.000000,144325.750000,3.006740e+10,1.000000,5501.000000
max,999.000000,191347.000000,9.789707e+11,71.000000,9998.000000

In [7]:
data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,3,174213,Friday,8.303240e+10,1,IMPULSE MERCHANDISE,1001.0
1,3,165589,Wednesday,6.811316e+10,1,FINANCIAL SERVICES,277.0
2,3,53745,Saturday,6.811319e+10,1,FINANCIAL SERVICES,0.0
3,3,95608,Saturday,6.053890e+10,1,FINANCIAL SERVICES,276.0
4,3,156299,Tuesday,6.053886e+10,1,FINANCIAL SERVICES,0.0

In [8]:
pca = PCA(n_components=7)

In [9]:
pca.fit(data)

ValueError: could not convert string to float: 'DSD GROCERY'

In [10]:
numerical_data = pd.read_csv("CleanData/train_numerical.csv")

In [11]:
pca.fit(numerical_data)

PCA(copy=True, iterated_power='auto', n_components=7, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [12]:
X = pca.fit(numerical_data).transform(numerical_data)

In [13]:
numerical_data.ix(:,'TripType')

SyntaxError: invalid syntax (<ipython-input-13-5b77b158b32a>, line 1)

In [14]:
numerical_data.ix[:,"TripType"]

/Users/tewilliams/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0           3
1           3
2           3
3           3
4           3
5           3
6           3
7           3
8           3
9           3
10          3
11          3
12          3
13          3
14          3
15          3
16          3
17          3
18          3
19          3
20          3
21          3
22          3
23          3
24          3
25          3
26          3
27          3
28          3
29          3
         ...
578600    999
578601    999
578602    999
578603    999
578604    999
578605    999
578606    999
578607    999
578608    999
578609    999
578610    999
578611    999
578612    999
578613    999
578614    999
578615    999
578616    999
578617    999
578618    999
578619    999
578620    999
578621    999
578622    999
578623    999
578624    999
578625    999
578626    999
578627    999
578628    999
578629    999
Name: TripType, Length: 578630, dtype: int64

In [15]:
numerical_data.loc[:,"TripType"]

0           3
1           3
2           3
3           3
4           3
5           3
6           3
7           3
8           3
9           3
10          3
11          3
12          3
13          3
14          3
15          3
16          3
17          3
18          3
19          3
20          3
21          3
22          3
23          3
24          3
25          3
26          3
27          3
28          3
29          3
         ...
578600    999
578601    999
578602    999
578603    999
578604    999
578605    999
578606    999
578607    999
578608    999
578609    999
578610    999
578611    999
578612    999
578613    999
578614    999
578615    999
578616    999
578617    999
578618    999
578619    999
578620    999
578621    999
578622    999
578623    999
578624    999
578625    999
578626    999
578627    999
578628    999
578629    999
Name: TripType, Length: 578630, dtype: int64

In [16]:
y = numerical_data.loc[:,"TripType"]

In [17]:
pca.explained_variance_ratio_

array([  1.00000000e+00,   2.99612373e-13,   9.23952666e-16,
         2.97111295e-18,   2.57487935e-20,   4.61432393e-22,
         5.54707854e-23])

In [18]:
import matplotlib.pyplot as plt

In [19]:
plt.figure()
trip_types = y["TripType"].unique().tolist()

KeyError: 'TripType'

In [20]:
y.head()

0    3
1    3
2    3
3    3
4    3
Name: TripType, dtype: int64

In [21]:
numerical_data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,3,155932,1,6.053889e+10,1,1,285.0
1,3,8704,2,6.811316e+10,1,1,278.0
2,3,8704,2,6.811316e+10,1,1,277.0
3,3,45605,3,6.811316e+10,1,1,277.0
4,3,172586,3,6.053889e+10,1,1,285.0

In [22]:
type(y)

pandas.core.series.Series

In [23]:
y = numerical_data.loc[:, ['TripType']]

In [24]:
type(y)

pandas.core.frame.DataFrame

In [25]:
y.head()

   TripType
0         3
1         3
2         3
3         3
4         3

In [26]:
trip_types = y["TripType"].unique().tolist()

In [27]:
X

array([[  2.98311513e+10,   6.93783436e+04,  -3.40125645e+03, ...,
          2.10001387e+01,   3.19592301e+00,  -1.86794187e-01],
       [  3.74054267e+10,  -7.78491979e+04,  -3.34397568e+03, ...,
          2.15064167e+01,   1.77346661e+00,  -1.92311555e-01],
       [  3.74054267e+10,  -7.78491982e+04,  -3.34497568e+03, ...,
          2.15061094e+01,   1.77346238e+00,  -1.92312887e-01],
       ...,
       [ -2.61500286e+10,   8.19113710e+03,  -3.13426879e+03, ...,
         -2.83427297e+00,   1.99168740e+00,  -9.25434721e-01],
       [ -2.58077316e+10,   8.19417681e+03,   5.79637062e+03, ...,
          1.69217895e+01,   2.03797836e+00,   1.07990937e+00],
       [  3.74054163e+10,  -8.65479395e+04,  -2.62052502e+03, ...,
          2.14228274e+01,   7.26435781e-01,  -9.26084298e-01]])